.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgb(6, 56, 97);
  margin-top: 80px;
  overflow: hidden;
  z-index: -1;
  transition: background-image 1s ease-in-out;
}
